hr {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.links a p {
  display: none;
  width: 100vw;
}

.links {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.links > a {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.userInfo > img {
  margin-bottom: 10px;
  width: 50px;
}

.links > a > img {
  margin: 10px;
  width: 250px;
}

.userInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.userInfo > h1 {
  color: #41197f;
  font-size: larger;
  font-weight: 600;
  text-transform: uppercase;
}

.userInfo > h6 {
  font-weight: 700;
  margin: 20px;
}
