.recipes-page-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 2% 10px;

  /* background-color: red; */
}

.recipes-page-title h1 {
  color: #41197f;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0.105em;
  text-transform: uppercase;
}

.recipes-page-title img {
  margin: 15px 0;
  width: 60px;
}

.categories-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 2%;
}

.all-filter-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.all-filter-button img {
  height: 80px;
  width: 60px;
}

.categories-container input {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85% 85%;
  border: none;
  border-radius: 10px;
  height: 100px;
  margin-left: 15px;
  outline: none;
  padding: 5px;
  transition: 0.3s;
  width: 80px;
}

.categories-container input:hover {
  background-color: #ffe8ad;
  transform: scale(1.2);
}


.categories-container button:first-of-type {
  margin-left: 0;
}

.recipes-container {

  /* align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2% 60px;
}

.recipe-card-link {
  text-decoration: none;
}

.recipe-card {
  border-radius: 10px;

  /* align-items: center; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 250px;
  transition: 0.5s;
  word-wrap: break-word;
}

.recipe-name {
  background-color: red;
  width: 100%;
}

.recipe-card p {
  background-color: #fcc436;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  text-align: left;
}

.recipe-card:hover p:after {
  content: '>>';
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
}

.recipe-card:hover p {
  background-color: #d8a21b;

}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  width: 250px;
}

@media screen and ( max-width : 823px ) {

  .recipe-card img {
    height: 300px;
    width: 350px;
  }

  .recipe-card {
    max-width: 350px;
  }

  .recipes-container {
    padding-bottom: 50px;
  }
}

@media screen and ( max-width : 550px ) {

  .categories-container input {
    background-size: 90% 90%;
    height: 70px;
  }

  .recipe-card img {
    height: 270px;
    width: 320px;
  }

  .recipe-card {
    max-width: 320px;
  }

  .recipes-container {
    padding-bottom: 50px;
  }
}
